* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.timer {
  padding: 15px 5px;
}
.field {
  display: inline-block;
  margin-right: 10px;
  max-width: 50px;
}
.value {
  font-size: 25px;
  font-weight: 500;
  display: block;
  padding: 0 auto;
  text-align: center;
}
.label {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
